* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body {
  background-image: url("/image/pix5.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  // cursor: none;
}

a {
  text-decoration: none;
}

#container {
  // background-image: url("/image/pix5.jpg");
  // background-size: cover;
  // background-position: top center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  background: rgba(13, 242, 212, 0.3);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  // transition: all 0.01s ease;
  transform-origin: 100% 100%;
  z-index: 2000;
}

// .cursor2 {
//   left: 0;
//   top: 0;
//   width: .8rem;
//   height: .8rem;
//   background: rgba(99, 117, 117, 0.9);
//   border-radius: 50%;
//   position: fixed;
//   transform: translate(-50%, -50%);
//   pointer-events: none;
//   // transition: all 0.2s ease;
//   transform-origin: 100% 100%;
//   // z-index: 1000;
// }

.link-grow {
  transform: scale(2);
  background: rgba(5, 245, 193, 0.4);
  // transition: 0.02s ease;
  border: none;
}