@media only screen and (min-width: 1200px) {
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        list-style: none;
        position: initial;
        background-color: transparent;
        width: fit-content;
        height: auto;
        left: 100%;
        top: 0;
        display: block;
        // flex-direction: column;
        // justify-content: center;
        align-items: center;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.8s ease left;

        & li {
            display: inline-block;
            padding: 20px;

            & a {
                font-size: 1rem;
                letter-spacing: 0.3rem;
                padding: 10px 0;
                padding-bottom: 10px;
                border-bottom: none;

                &#active {
                    border-bottom: none;
                }
            }

            & span {
                width: 32px;
                border-bottom: 1px solid rgba(94, 94, 94, 0.3);
                position: fixed;

                &#active {
                    border-bottom: 1px solid $primary_color;
                    position: fixed;
                }
            }
        }

        & li:hover a::after {
            transform: translate(-50%, -50%) scale(1);
            letter-spacing: initial;
        }

        & a {
            font-size: 2.5rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            color: $secondary_color;
            text-transform: uppercase;
            padding: 20px;
            display: block;

            &:hover {
                color: $primary_color;
            }

            &::after {
                content: attr(data-after);
                position: absolute;
                top: 300px;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                color: rgba(240, 248, 255, 0.01);
                font-size: 24rem;
                font-weight: bold;
                letter-spacing: 50px;
                z-index: -1;
                transition: 0.5s ease letter-spacing;
            }
        }
    }
}

@media (max-width: 800px) {
    #header .brand h1 {
        font-size: 1.4rem;
    }

    .container {
        margin-left: 100px;
    }

    #hero h1 {
        font-size: 2.3rem;
    }

    #hero p {
        font-size: 1.16rem;
    }

    #hero .cta {
        font-size: 1rem;
        border-radius: 50px;
    }

    .contact {
        top: 570px;
        left: 6.5%;

        & a {
            font-size: .9rem;
        }

        & p {
            padding-top: 10px;
            font-size: .9rem;
        }
    }

    .social_media img {
        width: 16px;
        height: 16px;
    }

    #header #app {
        position: absolute;
        margin: 0;
        top: 420px;
        left: 20%;
        font-size: 3.5rem;
    }

    #hero {
        margin-top: -100px;

        & p {
            font-size: 1rem;
            color: $secondary_color;
            letter-spacing: 0.1rem;
            padding-top: 10px;
        }
    }

    #hero .cta {
        margin-top: 30px;
    }

    #header .hamburger {
        height: 54px;
        width: 54px;
        margin-right: 0;
        margin-top: 20px;
    }

    #header .nav-bar {
        max-width: 1350px;
        padding: 20px 50px;
    }
}