// header section
#header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;

  & .header {
    min-height: 20vh;
    // background-color: sandybrown;
  }

  & .brand h1 {
    font-size: 1.5rem;
    color: $secondary_color;

    & span {
      color: rgba(117, 119, 119, 0.9);
    }
  }

  & .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1350px;
    padding: 10px 80px;
  }

  & .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid $secondary_color;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.5);
    margin-right: 20px;
    margin-top: 30px;

    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 5px solid rgb(158, 156, 156);
      animation: hamburger_pulse 2s ease infinite;
    }

    & .bar {
      height: 2px;
      width: 30px;
      position: relative;
      background-color: $secondary_color;
      z-index: -1;

      &::after {
        top: 8px;
      }

      &::before {
        bottom: 8px;
      }

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0;
        background-color: $primary_color;
        transition: 0.5s ease;
        transition-property: top, bottom;
      }

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        background-color: $primary_color;
        transition: 0.5s ease;
        transition-property: top, bottom;
        z-index: 1;
      }
    }

    &.active .bar::after {
      top: 0px;
    }

    &.active .bar::before {
      bottom: 0px;
    }
  }

  & .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgba(5, 5, 5, 0.99);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.8s ease left;

    &.active {
      left: 0;
    }

    & li a {
      border-bottom: 1px solid rgba(41, 41, 41, 0.9);
    }

    & li a#active {
      border-bottom: 1px solid $primary_color;
      color: $primary_color;
    }

    & li:hover a::after {
      transform: translate(-50%, -50%) scale(1);
      letter-spacing: initial;
    }

    & a {
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      color: $secondary_color;
      text-transform: uppercase;
      padding: 20px 0;
      display: block;

      &:hover {
        color: $primary_color;
      }

      &::after {
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: rgba(240, 248, 255, 0.021);
        font-size: 13rem;
        letter-spacing: 50px;
        z-index: -1;
        transition: 0.5s ease letter-spacing;
      }
    }
  }

  //  typreWriter
  #app {
    position: absolute;
    margin: 0;
    top: 500px;
    left: 30%;
    font-size: 6rem;
  }

  .contact {
    position: absolute;
    color: $secondary_color;
    margin: 0;
    top: 550px;
    left: 6.5%;
    font-size: 1rem;

    & a {
      // padding-bottom: 20px;
      letter-spacing: 0.2rem;
      color: $secondary_color;
    }

    & p {
      padding-top: 10px;
      letter-spacing: 0.2rem;
      // writing-mode: vertical-lr;
    }
  }

  .social_media {
    position: absolute;
    color: $secondary_color;
    top: 280px;
    left: 93%;

    & p:nth-child(1) {
      letter-spacing: 0.1rem;
      font-size: .9rem;
    }

    & p:nth-child(2) {
      margin-left: 6px;
    }

    & p {
      writing-mode: vertical-lr;
      margin-bottom: 30px;
      margin-left: 3px;
    }

    & ul {
      writing-mode: vertical;

      & li {
        list-style: none;
        margin-bottom: 30px;

        & a {
          text-decoration: none;
        }
      }
    }
  }
}

// end of header section

// container

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
}

// end container

// hero section
#hero {
  & h1 {
    display: block;
    width: fit-content;
    font-size: 2.5rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.3s ease forwards;
    animation-delay: 1s;
    margin-bottom: 5px;

    &:nth-child(1) {
      animation-delay: 1.5s;
    }

    &:nth-child(2) {
      animation-delay: 2.5s;
    }

    &:nth-child(3) {
      animation: text_reveal_name 0.3s ease forwards;
      animation-delay: 3.5s;
    }

    & span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: $primary_color;
      animation: text_reveal_box 1s ease;
      animation-delay: 1s;
    }

    &:nth-child(1) span {
      animation-delay: 1s;
    }

    &:nth-child(2) span {
      animation-delay: 2s;
    }

    &:nth-child(3) span {
      animation-delay: 3s;
    }
  }

  & p {
    font-size: 1.2rem;
    color: $secondary_color;
    letter-spacing: 0.1rem;
    padding-top: 20px;
  }
}

// end hero section

#hero .cta {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(253, 251, 251);
  background-color: transparent;
  border: 1px solid rgba(240, 248, 255, 0.5);
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 50px;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.4s ease;
  transition-property: background-color, color;

  &:hover {
    // color: $primary_color;
    border: 1px solid $primary_color;
    transition: 0.4s ease;
    z-index: 100;
  }
}